@media (max-width: 85em) {
  html {
    font-size: 50%;
  }
  .container__drinks--btn {
    display: none;
  }
}

@media (max-width: 1150px) {
  .container {
    grid-template-columns: 33fr 67fr;
  }
}

@media (max-width: 880px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 44em) {
  .container {
    grid-template-columns: 45% 55%;
  }

  .container__top {
    height: 8vh;
  }

  .container__drinks {
    padding: 2rem 0;
    height: 85vh;
  }

  .container__drinks--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 4rem;

    width: 25px;
    height: 45px;

    border: none;

    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
  }

  .ingredients__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }

  .container__drinks--btn.active {
    left: 1.5%;
  }

  .container__drinks--btn.active span {
    rotate: 180deg;
  }

  .container__drinks--btn.hidden {
    display: none;
  }

  .container.active {
    grid-template-columns: 1fr;
  }

  .container__drinks.active {
    width: 0%;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 450px) {
  .container__top {
    height: 8vh;
  }

  .container__top input {
    border: none;
    border-radius: 18px;
    margin-left: 2rem;
    padding: 0.5rem 0 1rem 1rem;
    font-size: 2.8rem;

    outline: none;
  }

  .intro {
    font-size: 3.2rem;
  }

  .cocktail--btn {
    font-size: 2.4rem;
    right: 5%;
  }

  .container__drinks {
    font-size: 2.4rem;
  }

  .ingredients__container {
    font-size: 2.2rem;
  }

  .cocktail__img {
    height: 20vh;
  }
}
