/* 
#132a13
#31572c
#4f772d
#90a955
#ecf39e 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to bottom right, #90a955, #31572c);

  font-family: sans-serif;

  height: 100vh;
}

.container {
  height: 90vh;
  width: 90vw;

  background: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 12px;
  display: grid;
  grid-template-columns: 25fr 75fr;

  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);

  overflow: hidden;
}

.container__top {
  height: 10vh;
  background: #eae4e2;

  padding: 1rem 0;

  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.8rem;

  gap: 2rem;
}

.container__top input {
  border: none;
  border-radius: 18px;
  padding: 0.5rem 1.5rem;

  outline: none;
}

.container__top button {
  background: linear-gradient(to bottom right, #31572c, #90a955);
  color: #eee;
  padding: 0.5rem 1.5rem;
  position: relative;
  right: 5%;
  border: none;
  border-radius: 18px;

  transition: all 0.1s;
}

cocktail--btn:hover {
  cursor: pointer;

  transform: scale(1.05);
}

.container__drinks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2.8rem;
  overflow: scroll;
}

.drink {
  gap: 3rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.drink:hover {
  cursor: pointer;
  background: #eae4e2;
}

.drink img {
  border-radius: 50%;
}

.container__cocktail {
  padding: 2rem 0;

  background: #eae4e2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail__name {
  position: relative;
  bottom: 2%;

  padding: 0.5rem 1rem;

  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;

  background: linear-gradient(to bottom right, #31572c, #90a955);
  color: #eee;
}

.cocktail__img {
  height: 30vh;
}

.cocktail__ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;

  font-size: 2.4rem;

  gap: 1rem;

  margin-bottom: 1rem;
  padding: 0 1rem;

  background: #d6d3d1;

  width: 100%;
  padding: 1rem 0;
}

.ingredients__title {
  font-size: 2.4rem;
  font-weight: 700;

  color: #90a955;
}

.ingredients__container {
  display: flex;
  gap: 1rem;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.ingredients__title {
  flex: 100%;
}

.ingredient {
  font-weight: 500;
}

.measure {
  font-size: 1.6rem;
}

.cocktail__instructions {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;

  padding: 0 4rem;
  font-size: 2.4rem;
  line-height: 1.5;

  overflow: scroll;
}

h3 {
  width: 75%;
}

.container__drinks img {
  height: 50px;
}

.intro {
  font-size: 2.4rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none;
}
